
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
obj/
*.suo
Smart-install/Smart-install/bin/
Smart-install/Smart-install/obj/
Smart-install/Smart-install/bin/
Smart-install/Smart-install/bin/Debug/ArchiveBase.mdf
Smart-install/Smart-install.v11.suo
